<h1><span>Reinicializar a sua Senha</span></h1>
<p class="overview">
   Foi feita uma solicitação para redefinir a sua senha.
   Se você não fez esse pedido, simplesmente ignore este email.
</p>
<p class="link">
  Se você fez esta solicitação basta clicar no link abaixo:
  <br/>
  <br/>
  <%= link_to "Alterar a senha", @edit_password_reset_url %>
</p>
<br/>
<p>
  Se você continuar com problemas, por favor não hesite em contactar-nos.
</p>
