<% if shipment.tracking.present? %>
<p class="tracking">
	<h2><span><%= t(:tracking_information) %></span></h2>
	<%= t(:ship_code_information) %>
	<%= link_to shipment.tracking, (shipment.tracking_url || "http://google.com/search?&q=#{shipment.tracking}") %>

</p>
<% end %>